<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirection vers le dossier public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Gestion du Header Authorization (souvent supprimé sur les hébergements mutualisés)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
